.projects-1 a {
  color: aqua;
  font-size: 90px;
  color: #fff;
  font-family: Bai Jamjuree;
  font-size: 255px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

.projects-1 {
  background-image: url(/src/img/sky-blue.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 403px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  opacity: 0.45;
}

.projects-1 img {
  object-fit: cover;
}

.project-page {
  font-size: 30px;
  color: rgb(159, 151, 151);
  display: flex;
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-content p {
  font-size: 260px;
}
