.projects a {
  color: aqua;
  font-size: 90px;
  color: #fff;
  font-family: Bai Jamjuree;
  font-size: 105px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

.projects {
  width: 1440px;
  height: 403px;
  flex-shrink: 0;
  background: url(/src/img/sky-blue.png), lightgray 50% / cover no-repeat;
}

.project-page {
  font-size: 30px;
  color: rgb(159, 151, 151);
  display: flex;
}

.projects-content {
  display: flex;
  flex-direction: column;
}

.projects-content p {
  font-size: 260px;
}
