.contact {
  margin: 95px 0 0 35px;
}

.contact p {
  margin-top: 20px;
}

.logo-rd img {
  height: 190px;
  margin: 20px 0 0;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 48px;
}

.links img {
  height: 40px;
  margin-right: 20px;
}

.links h3 {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.photo-profil {
  margin: 95px 0 0 35px;
  gap: 30px;
}

.photo-profil img {
  height: 490px;
  // clip-path: circle(50% at 50% 50%);
  opacity: 10%;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.photo-profil img:hover {
  opacity: 100%;
}
