@media (max-width: 500px) {
  .profil-page {
    opacity: 100%;
  }
}

.profil-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  // flex-shrink: 0;
  // background-image: url(/src/img/about-01.jpg);
  width: 100%;
  height: 950px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.profil-page h1 {
  font-size: 140px;
}

@media (max-width: 590px) {
  .profil-page h1 {
    font-size: 80px;
  }
}

@media (max-width: 440px) {
  .profil-page h1 {
    font-size: 100px;
  }
}

@media (max-width: 360px) {
  .profil-page h1 {
    font-size: 95px;
  }
}

.about-video-bxlplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.about p {
  font-size: 90px;
  font-weight: 400;
  margin-left: 10px;
}

@media (max-width: 990px) {
  .about p {
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .about p {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .about p {
    font-size: 17px;
  }
}

.about {
  margin: 95px 0 0 20px;
}

.about-text-2 {
  margin-top: 150px;
}

@media (max-width: 1000px) {
  .about-text-2 {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .about-text-2 {
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .about-text-2 {
    margin-top: 10px;
  }
}

.logo-rd img {
  height: 85px;
  margin: 65px 0 50px 25px;
}

// .photo-profil {
//   margin: 95px 0 0 35px;
//   gap: 30px;
// }

// .photo-profil img {
//   height: 490px;
//   // clip-path: circle(50% at 50% 50%);
//   opacity: 10%;
//   transition-duration: 0.5s;
//   transition-timing-function: ease-out;
// }

// .photo-profil img:hover {
//   opacity: 100%;
// }

.about-cv-button {
  margin: 65px 0 0 35px;
}

.about-pdf-button {
  display: inline-block;
  padding: 20px 30px;
  border: 2px solid white;
  background-color: transparent;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
  background-color: white; /* Fond noir initial */
}

.about-pdf-button:hover {
  border-color: #d9002b; /* Bordure rouge au survol */
  color: #d9002b; /* Fond noir au survol */
  background-color: black;
}
