.bigfoot-packshot img {
  height: 800px;
}

.bigfoot-packshot {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.bigfoot-01 {
  margin-top: 680px;
}

.bigfoot-02 {
  margin-top: 80px;
}

.bigfoot-03 {
  margin-top: 680px;
}

.bigfoot-04 {
  margin-top: 180px;
}

.bigfoot-05 {
  margin-top: 80px;
}

.bigfoot-06 {
  margin-top: 180px;
}

.bigfoot-text {
  margin: 200px 0 50px 0;
}

.bigfoot-video {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
