.bigfoot-packshot img {
  height: 500px;
}

.bigfoot-packshot {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // gap: 50px;
}

.bigfoot-01 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (max-width: 500px) {
  .bigfoot-01 {
    opacity: 100%;
  }
}

.bigfoot-01:hover {
  opacity: 100%;
}

.bigfoot-02 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (max-width: 500px) {
  .bigfoot-02 {
    opacity: 100%;
  }
}

.bigfoot-02:hover {
  opacity: 100%;
}

.bigfoot-03 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (max-width: 500px) {
  .bigfoot-03 {
    opacity: 100%;
  }
}

.bigfoot-03:hover {
  opacity: 100%;
}

.bigfoot-04 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (max-width: 500px) {
  .bigfoot-04 {
    opacity: 100%;
  }
}

.bigfoot-04:hover {
  opacity: 100%;
}

.bigfoot-05 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (max-width: 500px) {
  .bigfoot-05 {
    opacity: 100%;
  }
}

.bigfoot-05:hover {
  opacity: 100%;
}

.bigfoot-06 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media (max-width: 500px) {
  .bigfoot-06 {
    opacity: 100%;
  }
}

.bigfoot-06:hover {
  opacity: 100%;
}

.bigfoot-text {
  margin: 100px 0 50px 0;
}

.memories-text h1 {
  font-size: 30px;
  font-weight: 600;
}

.bigfoot-video {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
