.glitch-packshot img {
  height: 500px;
}

.glitch-packshot {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // gap: 25px;
}

.glitch-text {
  margin: 200px 0 50px 0;
}

.glitch-02 {
  margin-top: 280px;
}

.glitch-04 {
  margin-top: 10px;
}

.glitch-05 {
  margin-top: 280px;
}

.glitch-06 {
  margin-top: 120px;
}

.glitch-video {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
