.malevil-packshot img {
  height: 500px;
}

.malevil-packshot {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

// .malevil-02 {
//   margin-top: 280px;
// }

// .malevil-04 {
//   margin-top: 10px;
// }

// .malevil-05 {
//   margin-top: 280px;
// }

// .malevil-06 {
//   margin-top: 120px;
// }

.malevil-text {
  margin: 100px 0 50px 0;
}

.malevil-text h1 {
  font-size: 30px;
  font-weight: 600;
}

.malevil-video {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
