.memories-packshot img {
  height: 500px;
}

.memories-packshot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // gap: 50px;
}

.memories-01 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.memories-01:hover {
  opacity: 100%;
}

.memories-02 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.memories-02:hover {
  opacity: 100%;
}

.memories-03 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.memories-03:hover {
  opacity: 100%;
}

.memories-04 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.memories-04:hover {
  opacity: 100%;
}

.memories-05 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.memories-05:hover {
  opacity: 100%;
}

.memories-06 {
  opacity: 0.45;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.memories-06:hover {
  opacity: 100%;
}

.memories-text {
  margin: 100px 0 50px 0;
}

.memories-text h1 {
  font-size: 30px;
  font-weight: 600;
}

.memories-video {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
