.mountains-packshot img {
  width: 100%;
  overflow: hidden;
}

.mountains-packshot {
  margin-top: 80px;
}

.mountains-pack {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .mountains-pack {
    display: flex;
    flex-direction: column;
  }
}

.mountains-text {
  margin: 100px 0 100px 0;
}
