.mountains-packshot img {
  // height: 500px;
}

.mountains-packshot {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  // gap: 25px;
}

.mountains-text {
  margin: 100px 0 100px 0;
}
