nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  overflow: hidden;
  top: 0;
  width: 100%;
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}
