.mountains-packshot img {
  height: 500px;
}

.mountains-packshot {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // gap: 25px;
}

.mountains-text {
  margin: 200px 0 50px 0;
}
