/* ====================================
// css variables
// ==================================== */

// :root {
// }

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  text-decoration: none;
  cursor: pointer;
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

a:hover {
  border-radius: 1px #d9002b;
  text-decoration: none;
}

@media (max-width: 500px) {
  a {
    font-size: 17px;
  }
}

@media (max-width: 375px) {
  a {
    font-size: 15px;
  }
}

p {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  }
}

h1 {
  color: #fff;
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  // font-size: 140px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background: black;
  color: white;
}

::selection {
  color: black;
  background: #d9002b;
}

em {
  font-family: scandia-web, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
}

// strong {
//   font-weight: 400;
// }
